@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes waveSlow {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

@keyframes waveFast {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-70%);
    }
}

.wave-slow {
    animation: waveSlow 18s linear infinite;
}

.wave-fast {
    animation: waveFast 10s linear infinite;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    scrollbar-width: none;
}

.perspective-\[1200px\] {
    perspective: 1200px;
}

body {
    background: #0b1f3a;
}
html, body, #root {
    height: 100%;
}